.app__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 101px 0 26px 0;

  p {
    font-family: var(--font-mo);
    font-weight: var(--weight-regular);
    font-size: .875rem;
    line-height: 1.0625rem;
    color: var(--color-gray-3);

    a {
        font-weight: var(--weight-bold);
    }
  }
}
